:root{
  --card-back : #FFFFFF;
  --like: #ef1111e2;
  --txt:#262626;
  --background:#fff3f894;
  --grey:#999999;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: var(--background);
  padding: 1rem;
  font-family: "Fira",sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt);
}

.cards{
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.card{
  background: var(--card-back);
  border-radius: 1.5rem;
  width: 25rem;
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
}
.card:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 6px;
  transform: scale(1.003);
}

.card-preview{
  height: 12rem;
  width: 100%;
  overflow: hidden;
}
.card-preview img{
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  object-fit: cover;
}
.general-infos{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem auto;
}
.title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2{
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
}
.title-container i:hover{
  transform: scale(1.2);
  background: none ;
}
.description{
  font-size: 0.8rem;
  line-height: 1.1rem;
}
.down-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.7rem;
  color: var(--grey);
}
.like-btn{
  font-size: 1.3rem;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
} 
.like-btn svg{
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--background);
  stroke: black;
}
.like-btn svg:hover{
  transform: scale(1.2);
  transition: 0.2s ease-out;
}
.liked svg {
  stroke: var(--like);
  fill: var(--like);
}